<div class="container">
  <h1 style="color: brown;">Template Driven Form !!!!</h1>
  <div class="row">
    
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-sm-offset-2">
      <form #basicForm="ngForm" (ngSubmit)="saveData()">
        <div class="form-group">
          <label for="Firstname">First Name</label>
          <input
            type="text"
            class="form-control"
            id="fname"
            placeholder="Enter First name"
            [(ngModel)]="user.firstname"
            name="first"
            required
          />
        </div>
        <div class="form-group">
          <label for="Secondname">middle Name</label>
          <input
            type="text"
            class="form-control"
            id="mname"
            placeholder="Enter middle name"
            name="middle"
            required
            [(ngModel)]="user.middlename"
          />
        </div>
        <div class="form-group">
          <label for="LastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lname"
            placeholder="Enter Last name"
            name="last"
            required
            [(ngModel)]="user.lastname"
          />
        </div>

        <div class="form-group">
          <label for="fullname">Fullname:</label>
          <input
            type="text"
            name="fullname"
            id="fullname"
            cols="30"
            rows="3"
            disabled
            class="form-control"
            [ngModel]="user.firstname + ' ' + user.middlename + ' ' + user.lastname"
          />

          
        </div>

        <div class="form-group">
          <br />
          <label for="age">age:</label>
          <input
            type="number"
            class="form-control"
            id="age"
            placeholder="Enter age"
            name="age"
            required
            [(ngModel)]="user.age"
          />
        </div>
        <div class="form-group">
          <br />
          <label for="gender">Gender:</label>
          <input
            type="radio"
            class="form-radio-input"
            value="male"
            id="male"
            name="gender"
            [(ngModel)]="user.gender"
            required
            checked
          />
          <label for="male" class="form-radio-label me-2">Male</label>
          <input
            type="radio"
            class="form-radio-input"
            value="female"
            id="female"
            name="gender"
            [(ngModel)]="user.gender"
            required
          />
          <label for="female" class="form-radio-label">Female</label>
        </div>

        <div class="form-group" ngModelGroup="hobbies" #hobbies="ngModelGroup">
        
            <div *ngFor="let hobby of hobbieList ; let i = index">
              <input type="checkbox" name="hobby" id="hobbie" [value]="hobby" [name]="hobby" [(ngModel)]=" user.hobbies[hobby]" />
              {{ hobby }}
            </div>
           

          <div class="form-group">
            <br />
            <h6><label for="company">company</label></h6>
            <select
              class="form-control"
              id="company"
              name="company"
              [(ngModel)]="user.company"
              required
            >
              <option value="tcs">Tcs</option>
              <option value="Tech Extensor" selected>Tech Extensor</option>
              <option value="wipro">wipro</option>
              <option value="Infosys">Infosys</option>
              <option value="google">google</option>
              <option value="microfost">microsoft</option>
              <option value="Suzuki">Suzuki</option>
              <option value="Adani">Adani</option>
            </select>
          </div>
          <input
            type="button"
            value="Back"
            name="back"
            id="back"
            (click)="back()"
            class="btn btn-primary mt-3 me-3"
          />
          <input
            type="button"
            value="Clear"
            name="clear"
            id="claer"
            (click)="clearForm()"
            class="btn btn-dark mt-3 me-3"
          />
          <input
            type="submit"
            value="Save"
            name="save"
            id="save"
            [disabled]="!basicForm.form.valid"
            class="btn btn-success mt-3 me-3"
          />
        </div>
      </form>
    </div>
  </div>
</div>
