<div class="container">
  <h1 style="color: brown;">Reactive Form !!!!</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-sm-offset-2">
      <div class="form-group">
        <form [formGroup]="projectForm" (ngSubmit)="onSaveProject()">
          <div class="from-group">
            <label for="firstname">First Name</label>
            <input
              type="text"
              id="firstname"
              formControlName="firstname"
              class="form-control"
            />
          </div>

          <div class="from-group">
            <label for="middlename">Middle Name</label>
            <input
              type="text"
              id="middlename"
              formControlName="middlename"
              class="form-control"
            />
          </div>

          <div class="from-group">
            <label for="lastname">Last Name</label>
            <input
              type="text"
              id="lastname"
              formControlName="lastname"
              class="form-control"
            />
          </div>
          <div class="from-group">
            <label for="fullname">Fullname</label>
            <input
              type="text"
              class="form-control"
              id="fullName"
              name="fullName"
              placeholder="Full Name"
              disabled
              [value]="
                projectForm.get('firstname')?.value +
                ' ' +
                projectForm.get('middlename')?.value +
                ' ' +
                projectForm.get('lastname')?.value
              "
            />
          </div>
          <div class="form-group">
            <br />
            <h6><label for="age">age:</label></h6>
            <input
              type="number"
              class="form-control"
              id="age"
              placeholder="Enter age"
              name="age"
              formControlName="age"
            />
          </div>
          <div class="from-group">
            <br />
            <h6>Gender</h6>
            <input
              id="gender"
              type="radio"
              name="gender"
              formControlName="gender"
              value="male"
            />
            <label class="male"> Male</label>
            <br />

            <input
              id="gender"
              type="radio"
              name="gender"
              value="female"
              formControlName="gender"
            />
            <label class="female">Female</label>
          </div>
          <div class="form-group" formGroupName="hobbies">
            <br />

            <h6><label for="Hobbies">Hobbies</label></h6>
            <div *ngFor="let hobby of hobbyArray; let i = index">
              <input type="checkbox" [name]="hobby" [id]="hobby" [formControlName]="hobby" [value]="hobby" />
              {{ hobby }}
            </div>
          </div>
          <div class="form-group">
            <br />
            <h6><label for="company">company</label></h6>
            <select
              class="form-control"
              id="company"
              formControlName="company"
              name="company"
            >
            <option value="tcs">Tcs</option>
            <option value="Tech Extensor" selected>Tech Extensor</option>
            <option value="wipro">wipro</option>
            <option value="Infosys">Infosys</option>
            <option value="google">google</option>
            <option value="microfost">microsoft</option>
            <option value="Suzuki">Suzuki</option>
            <option value="Adani">Adani</option>
            </select>
          </div>
          <input
            type="button"
            value="Back"
            name="back"
            id="back"
            (click)="back()"
            class="btn btn-primary mt-3 me-3"
          />
          <input
            type="button"
            value="Clear"
            name="clear"
            id="claer"
            (click)="clearForm()"
            class="btn btn-info mt-3 me-3"
          />
          <input
            type="button"
            value="Get Data"
            name="getData"
            id="getData"
            (click)="getData()"
            class="btn btn-success mt-3 me-3"
          />
          <input
            type="submit"
            value="Save"
            name="save"
            id="save"
            [disabled]="!projectForm.valid"
            class="btn btn-dark mt-3 me-3"
          />
        </form>
      </div>
    </div>
  </div>
</div>
